<!doctype html>
<html>
  <head>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 50%;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>

    <body>

<img src="/static/{{image_loc}}" alt="" height = 500 width = 600 align = "left">
&nbsp 
<img src="{{prediction}}" alt="" height= 500 width = 600 align = "right" >



  </body>
  </head>
  </html>